/* Ghost Input Autofill Override for Dark Mode */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #1c1b1b inset !important;
  -webkit-text-fill-color: #e5e2e1 !important;
  transition: background-color 5000s ease-in-out 0s;
}
